.login-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1rem;
  z-index: 1000;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.286);
  border-radius: 20px;
  backdrop-filter: blur(30px);

  .close-btn{
    position: fixed;
    top: 0.3rem;
    right: 0.3rem;;
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1.1rem;
    border-radius: 100%;
  }

  h3{
    font-size: 24px;
    margin-bottom: 0.8rem;
  }


    p {
      margin: 1rem 0;
    }

  
}

.login-input-area {
  width: 18rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 1rem 0.3rem;
  align-items: center;
  label {
    padding-right:  1rem;
    font-size: 18px;
  }

  input {
    border-radius: 10px;
    padding: 0.2rem;
  }
}

.avatar-container {
  all: unset;
  display: flex;
  margin: 0.4rem;
  }

  .avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin: auto 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.5s ease-in-out;
      &:hover {
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.347));
        transform: scale(1.1);
        
    }

}

.sign-up-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3{
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
  }
  .dark-btn{
    font-size: 1.2rem;
    text-align: center;
    width: 18rem;
    line-height: 1.2rem;
    margin: 1.5rem;
  }
}