$mobile: 768px;
.navbar {
  background-color: #252525;
  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    
    @media (max-width:$mobile){
      margin:0 auto;
      justify-content: center;
    }
     
    li {
      margin: auto 0;

      a {
        color: rgb(225, 229, 233);
        font-size: 1.25rem;
        padding: 0 1rem;
      }
    }
    .login-btn {
      border: #ffffff 1px solid ;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.578);
      color: antiquewhite;
      padding: 0.7rem;
      font-size: 1rem;
      margin: 0.6rem;
      cursor:pointer;
      position: relative;
    }
  }
}
