$mobile: 768px;
nav {
  background-color: rgb(52, 52, 52);

  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    @media (max-width:$mobile){
      margin:0 auto;
      justify-content: center;
    }
     
    li {
      padding: 0.5rem 1rem;
      a {
        color: rgb(225, 229, 233);
        font-size: 1.25rem;
      }
    }
  }
}
