$mobile: 768px;
.picture-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.589);
  backdrop-filter: blur(3px);

  .picture-info-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-self:center;
    width: 60vw;
    // min-height: 20vh;
    max-height: 80vh;
    margin: 10vh auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    @media (max-width:$mobile){
      flex-direction: column; 
      max-height: none;/* 允許高度自適應 */
      margin: 5vh auto;
    }
    .picture-section{
      width: 50%;
      max-height: 32rem;
      display: flex;
      justify-content: center;
      overflow: hidden;
        img{
          width: 100%;
          object-fit: contain;
        }
        @media (max-width:$mobile){
          width: 100%;
          max-height: 40vh;
    }
    }
    .info-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding: 10% 10%;
      @media (max-width:$mobile){
        justify-content: center;
        padding: 1rem 10%;
      }
      h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 2rem;
        margin:  1rem auto;
        @media (max-width:$mobile){
          font-size: 1rem;
        }
      }

      h3, p{
        margin: 1rem;
        text-align: center;
      }

      }
      .btn-container{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        align-self: center;
        @media (max-width:$mobile){
          font-size: 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          }
        button{
          scale: 1;
          @media (max-width:$mobile){
            width: 5rem;
            height: 1rem;
            margin: 1rem;
            font-size: 0.8rem;
            }
        }
      }
    }

  }
  p{
    margin: 0;
    font-size: 1.1rem;
    color: rgb(19, 19, 19);
  }
