.picture-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.589);
  backdrop-filter: blur(3px);

  .picture-info-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-self:center;
    width: 60rem;
    max-height: 25rem;
    margin: 10vh auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    .picture-section{
      width: 30rem;
      max-height: 32rem;
      display: flex;
      justify-content: center;
        img{
          width: 100%;
          object-fit: contain;
        }
    }
    .info-container{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
      h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 2rem;
        margin:  1rem auto;
      }
      h3, p{
        margin: 1rem;
        text-align: center;
      }
      }
      .btn-container{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        align-self: center;
        button{
          scale: 1;
        }
      }
    }

  }
  p{
    margin: 0;
    font-size: 1.1rem;
    color: rgb(19, 19, 19);
  }
