$mobile: 768px;
.picture{
  .picture-btn-container{
    position: relative;
  }
  .imageContainer {
    position: relative;
    overflow: hidden;
    border-radius:20px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(131, 168, 216, 0.04) 0px 24px 24px -12px;
    img {
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.25);
        transition: 0.3s ease-in-out;

      }
    }
  }
  .picture-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
      &:hover {
        filter: brightness(0.6); /* 直接改變容器內元素的亮度 */
      }
  }

  .photographer{
    margin: 0.5rem 1rem;
    font-weight: 500;
    // border: 1px solid black;
    @media (max-width:$mobile) {
      margin: 0.2rem 0.5rem;
      font-size: 12px;
    }
  }
}

.non-login-page{
  margin: 2rem;
  .login-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
      font-size: 1.5rem;
    }
    button {
      text-align: center;
      margin: 2rem;
    }
    .sign-up-section{
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        padding-right: 2rem;
      }
    }
    }
  }