$mobile: 768px;
.search {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0; /* 固定在頂部 */
  z-index: 999; /* 確保搜尋欄在內容上方 */
  background-color: #4848482b;
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  padding: 0.9rem 0rem;
  backdrop-filter: blur(5px);
  margin-bottom: 2rem;
  transition: transform 0.4s ease-in-out;
  @media(max-width:$mobile){
    padding: 0.8rem 0rem;
  }

  input,
  button {
    all: unset;
    padding: 0.5rem;
    margin-right: 1.2rem;
    border-radius: 30px;
    background-color: #eeeaea;
  }
    input{
      width: 28vw;
      &:focus{
        color: #2f2f2f;
        box-shadow: 3px 3px 5px 2px #38383810;
        transform: translateY(-1px);
        transition: transform 0.3s ease-in-out;
      }
      @media(max-width:$mobile){
        width: 50vw;
        padding: 0.8rem 1rem;
        margin: 0 0.8rem;
      }  
    }
    button {
    width: 1.8rem;
    text-align: center;
    border: none;
    color: #f3eaea;
    background-color: rgb(43, 43, 43);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
      &:hover {
          background-color: rgb(73, 73, 73);
          transform: (scale(1.05));
        }

        @media(max-width:$mobile){
          padding: 1rem;
          font-size: 0.8rem;
        }
  }
}
