$mobile: 768px;
.tag-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  @media (max-width:$mobile){
    width: 100vw;
    font-size: 0.7rem;
    line-height: 0.7rem;
    flex-wrap: wrap;
    margin-bottom: 0.3rem;
  }
  button{
    all:unset;
    padding: 1rem;
    cursor: pointer;
    background-color: rgba(223, 223, 223, 0.7);
    border-radius: 33px;
    &:hover{
      background-color: rgb(202, 202, 202);
      transition: 0.3s ease-in-out;
    }
  
  }

  .color-platte-tag-container{
    position: relative;
    background-color: rgb(216, 216, 216);
    padding: 1rem;
    cursor: pointer;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:$mobile){
      padding: 1rem;
      text-align: center;
      margin: 1rem;
      svg{
        scale: 0.5
      }
    }
      .color-platte-container{
        visibility: hidden;
        position: absolute;
        top: 3.2rem;
        left: -30%;
        background-color: #ffffff40;
        width: 15rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;
        z-index: 900;
        backdrop-filter: blur(5px);
        border-radius: 33px;
        .color-btn{
          padding: 0.7rem;
          margin: 0.2rem;
        }
      }
    &:hover{
    color: #fff;
    background-color: rgb(142, 142, 142);
    transition: 0.4s ease-in-out;
      .color-platte-container{
        visibility: visible;
        transform: translateY(5px);
        transition: 0.6s ease-in-out;
      }
      svg{
        rotate: 180deg;
        transition: 0.3s ease-in-out;
      }
    }
  }
  .dark-btn{
    background-color: rgb(114, 114, 114);
    color: #3a3a3a;
    &:hover{
      padding: 1rem;
    }
    @media (max-width:$mobile){
      margin: 1rem;
    }
  }

}